* {
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

body {
    background-color: rgb(22, 22, 22);
}

hr {
    margin-top: 30px;
    border: gainsboro solid 1px;
}

hr.more {
    margin-top: 0%;
    margin-bottom: 10px;
}

.border {
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.829), rgba(48, 48, 48, 0.541), rgba(255, 255, 255, 0.253), rgba(43, 43, 43, 0.616), rgba(255, 255, 255, 0.596));
    border-radius: 10px 10px 10px 10px;
    height: max-content;
    display: block;
    margin: auto;
    width: 80%;
    padding: 1px;
    margin-top: 150px;
}

.container {
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right bottom, rgb(65, 65, 65), black);
    padding: 30px;
}

.span {
    display: inline;
}

.white {
    color: white;
}

.green {
    color: greenyellow;
}

.gray {
    color: gray;
}

.mid {
    color: rgb(191, 191, 191);
}